# Python workspace
/.venv/

# Python build files
__pycache__/
*.py[cod]
*.egg-info/
.coverage
build/
dist/
htmlcov/

# Blog site is dynamically generated and not checked in
/site/blog/

# Recipe site is dynamically generated and not checked in
/site/recipes/

# The site zip is generated during deployment
/site.zip

# Christmas list deployment secrets and private database exports
/site/xmas_list/database_config.php
/site/xmas_list/xmas_list.sql
